* {
    box-sizing: border-box;
}

body {
    color: #808080;
    background-color:antiquewhite;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
    margin: 0;
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
}

.container {
    max-width: 400px;;
}

.head {
    text-align: center;
}

.enter-location {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;
    box-shadow: 5px 5px 8px 2px#888888;
}

.details {
    /* border: 1px solid none; */
    background-color: #B0C4DE;
    box-shadow: 5px 5px 8px #888888;
    text-align: center;
}

/* .three-day {
    display: flex;
    justify-content: space-around;
}

.day-one, .day-two, .day-three {
    display: flex;
    align-items: center;
} */