* {
    box-sizing: border-box;
}

body {
    color: #808080;
    background-color:antiquewhite;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
}

.container {
    max-width: 400px;
    min-width: 300px;
}

.head {
    text-align: center;
}

.enter-location {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.city-label {
    margin: 10px;
}

#submit {
    margin: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    margin: 20px 0;
    height: 700px;
}

.details {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    background-color: #B0C4DE;
    box-shadow: 5px 5px 8px #888888;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: 500px;
    width: 300px;
}

.cityName {
    font-size: 25px;
    margin: 30px;
    position:relative;
    top: -40px;

}

.image {
    margin: 20px;
    transform: scale(2.0)
}

.current {
    margin: 30px;
}

.weather-condition {
    font-size: 16px;
    margin: 20px;

}


.temp {
    font-size: 25px;
    margin: 20px 0 20px 0;
}
